<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
      xmlns:fc="http://typo3.org/ns/Getdesigned/FriendlyCaptcha/ViewHelpers"
      data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
    <f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
        <fc:form.friendlyCaptcha property="{element.identifier}"
                                 class="{element.properties.elementClassAttribute}"
                                 start="{element.properties.start}"
                                 additionalAttributes="{formvh:translateElementProperty(
                                     element: element,
                                     property: 'fluidAdditionalAttributes'
                                 )}" />
    </f:render>
</formvh:renderRenderable>
</html>